<!-- コメント投稿スクロールのため、テーブル -->
<div class="container">
	<div class="row">

			<table>
				<thead>

				</thead>
				<tbody>
					<% comments.each do |c| %>
					<tr><td>
					<% if c.user.profile_image.attached? %>
						<%= link_to image_tag(c.user.profile_image, size: '60x60'), user_path(c.user.id) %>
					<% else %>
						<%= link_to image_tag("noimage.png", size: '60x60'), user_path(c.user.id) %>
					</td>
					<% end %>
					<td><%= c.body %></td></tr>
					<tr><td><%= c.user.name %></td>
						<td><%= c.created_at.strftime('%Y/%m/%d') %></td>

					<% if c.user == current_user %>
					<td><%= link_to 'Delete', code_comments_path(c.id), method: :delete, class: "btn btn-default col-xs-4" %></td></tr>
					<!-- 非同期したい　, remote: true -->
				    <% end %>
					<% end %>
                </tbody>
			</table>
	</div>
</div>
