<div class="back1">
<div class="form-wrapper">
	<h2>Users edit</h2>

		<%= form_for (@user) do |f| %>
			<div class="field-1">
				<%=f.label :profile_image %><br>
				<% if @user.profile_image.attached? %>
			        <%= image_tag @user.profile_image, :size => '100x100' %><br>
			    <% end %>
				<%= f.file_field :profile_image, class: "form-control input-sm" %>
			</div>

			<div class="field">
				<%= f.label :name %><br />
				<%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control input-sm" %>
			</div>

			<div class="field">
				<%= f.label :gender %><br />
				<%= f.select :gender, ["Man","Woman","Unselect"], class: "form-control input-sm" %>
			</div>

		<!-- 年齢選択のプルダウン　:selected=>@user.age-->

		    <div class="field">
				<%= f.label :height %><br />
				<%= f.select :height, options_for_select(
					[["140cm Under","140"], ["141cm","141"], ["142cm","142"], ["143cm","143"], ["144cm","144"],["145cm","145"], ["146cm","146"],
					["147cm","147"], ["148cm","148"], ["149cm","149"], ["150cm","150"], ["151cm","151"], ["152cm","152"],["153cm","153"],
					["154cm","154"], ["155cm","155"], ["156cm","156"], ["157cm","157"], ["158cm","158"], ["159cm","159"], ["160cm","160"],
					["161cm","161"], ["162cm","162"], ["163cm","163"], ["164cm","164"], ["165cm","165"], ["166cm","166"], ["167cm","167"],
					["168cm","168"],["169cm","169"], ["170cm","170"], ["171cm","171"], ["172cm","172"], ["173cm","173"], ["174cm","174"],
					["175cm","175"], ["176cm","176"],["177cm","177"], ["178cm","178"], ["179cm","179"], ["180cm","180"], ["181cm","181"],
					["182cm","182"], ["183cm","183"], ["184cm","184"],["185cm","185"], ["186cm","186"], ["187cm","187"], ["188cm","188"],
					["189cm","189"], ["190cm Over","190"]], :selected=>@user.height), class: "form-control input-sm" %>
			</div>


			<div class="actions">
				<%= f.submit "Update", :class =>"botton" %>
			</div>
		<% end %>
</div>
</div>