<div class="back6">
	<div class="form-wrapper">
		<h2>Code Edit</h2>

		<%= form_with model: @code, local: true do |f| %>

		<div class="field-1">
			<% @code.photos.count.times do |i| %>
			<%= image_tag @code.photos[i], :size => '95x125' %>
			　　<%= link_to "Delete", method: :delete, class: "btnlike" %>
			<% end %>
			<%= f.file_field :photos, multiple: true, class: "form-control input-sm" %>
		</div><br>

		<div class="field">
			<%= f.text_field :title, :placeholder => "Title", class: "form-control input-sm" %>
		</div><br>

		<div class="field">
			<%= f.text_area :body, :placeholder => "Explanation", class: "form-control input-sm" %>
		</div><br>

		<div class="field">
			<%= f.text_field :tagname, value: @tag_list, :placeholder => "Tag", class: "form-control input-sm" %>
		</div><br>

		<div class="actions">
			<%= f.submit  "submit", :class => "botton" %>
		</div>

		<% end %>
	</div>
</div>