<h1>Codes</h1>

<%= render 'codes/show', code: @code %>

<!-- いいねコメント -->
<%= form_for [@code, @comment] do |f| %>
    <%= f.text_area :body, placeholder: "Comment!!" %>
    <%= f.submit 'Submit' %>
<% end %>

<%= render 'comments/index', comments: @comments, code: @code %>

<!-- 編集と削除 -->

<% if @code.user == current_user %>
    <%= link_to "Edit", edit_code_path(@code.id) %>
    <%= link_to "Delete", code_path(@code.id), method: :delete %>
<% end %>