<h1>Codes</h1>

<%= render 'codes/show', code: @code %>


<!-- PV -->

<%= @code.impressionist_count %> pv <br>

<!-- Get the unique impression count from a model filtered by session hash. Same as #6 regarding request hash. This may be more desirable than filtering by IP address depending on your situation, since filtering by IP may ignore visitors that use the same IP. The downside to this filtering is that a user could clear session data in their browser and skew the results.
↑READMEより。
ユーザが見た分増える。リロード、いいね、コメントしても増えない。 -->

<!-- いいね -->
<% if user_signed_in? %>
    <% if @code.favorited_by?(current_user) %>
        <%= link_to code_favorites_path(@code), method: :delete, class: "fav" do %>
        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
        <span class="favorites_count"><%= @code.favorites.count %> Fav</span>
        <% end %>
    <% else %>
        <%= link_to code_favorites_path(@code), method: :post, class: "fav" do %>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <span class="favorites_count"><%= @code.favorites.count %> Fav</span>
        <% end %>
    <% end %>
<% else %>
    <%= link_to new_user_session_path, class: "fav" do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <span class="favorites_count"><%= @code.favorites.count %> Fav</span>
    <% end %>
<% end %>

<!-- コメント -->

<%= @code.comments.count %> comments<br>

<%= form_for [@code, @comment] do |f| %>
    <%= f.text_area :body, placeholder: "Comment!!" %>
    <%= f.submit 'Submit' %><br>
<% end %>

<%= render 'comments/index', comments: @comments, code: @code %><br>

<!-- 編集と削除 -->

<% if @code.user == current_user %>
    <%= link_to "code_Edit", edit_code_path(@code.id) %> /
    <%= link_to "code_Delete", code_path(@code.id), method: :delete %>
<% end %>