<!DOCTYPE html>
<html>
  <head>
    <title>MAGEnta</title>
    <meta charset="utf-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheets" href="/application.scss">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


 </head>
  <body>
    <header>

    <!-- ロゴ -->
    <div class="magenta"><%= link_to image_tag("logo.png", :size => '160x75'), root_path %></div>

    <div class="container">
      <div id="slidemenu">

      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>

        <li class=""><%= link_to "ユーザ一覧", users_admins_path %></li>
        <li class=""><%= link_to "コーデ一覧", codes_admins_path %></li>
        <li class=""><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

        <% elsif user_signed_in? %>

        <li class=""><%= link_to "Ranking", codes_ranking_path %></li>
        <li class=""><%= link_to "#{current_user.name}", user_path(current_user.id) %></li>
        <li class=""><%= link_to "Post", new_code_path %></li>
        <li class=""><%= link_to "Contact", contacts_path %></li>
        <li class=""><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>

        <% else %>
        <li class=""><%= link_to "Ranking", codes_ranking_path %></li>
        <li class=""><%= link_to "New User", new_user_registration_path %></li>
        <li class=""><%= link_to "Log In", new_user_session_path %></li>

        <% end %>
      </ul>
      </div>
    </div>
    </header>
    <%= yield %>


<!-- bxsliderの記述 -->
    <script>
    $(document).ready(function(){
      $('.bxslider').bxSlider({
        auto: true,
        minSlides: 2,
        touchEnabled:false
      });
    });
    </script>



  </body>
</html>
