<!DOCTYPE html>
<html>
  <head>
    <title>MAGEnta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="nav navbar-nav navbar-right">
        <h3 class="MAGEnta"><%= link_to "MAGEnta", root_path %></h3>

        <% if admin_signed_in? %>

        <li class=""><%= link_to "ユーザ一覧", users_admins_path %></li>
        <li class=""><%= link_to "コーデ一覧", codes_admins_path %></li>
        <li class=""><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

        <% elsif user_signed_in? %>

        <li class=""><%= link_to "Ranking", codes_ranking_path %></li>
        <li class=""><%= link_to "#{current_user.name}", user_path(current_user.id) %></li>
        <li class=""><%= link_to "Post", new_code_path %></li>
        <li class=""><%= link_to "Contact", contacts_path %></li>
        <li class=""><%= link_to "Log_Out", destroy_user_session_path, method: :delete %></li>

        <% else %>
        <li class=""><%= link_to "Ranking", codes_ranking_path %></li>
        <li class=""><%= link_to "New_User", new_user_registration_path %></li>
        <li class=""><%= link_to "Log_In", new_user_session_path %></li>

        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
